html, body,.main-div{
    background-color: #32a8a8;
    width: 100%;
    height:auto;
    margin:0;
}


/** HELPERS HELPERS HEPERS HELPERS HELPERS HELPERS **/

.center-col{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.center{
    display:flex;
    align-items:center;
    justify-content:center;
}

.text-center{
    text-align:center;
}

/** HELPERS HELPERS HEPERS HELPERS HELPERS HELPERS **/

.title{
color:white;
}

.subtitle{
color:white;
}

.mid-wrap{
    background-color:red;
    width:100%;
    height:100%;
}

.file-wrap{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:25%;
    background-color:white;
}
.file-ttl{
    color:white;
    font-size:1.5em;
    background-color:#32a8a8;
    width:15%;
    padding:0.1em;
    margin-top:0;
}



#file-inp::-webkit-file-upload-button{
    background-color:#d9c52b;
    border-radius:5px;
    color:white;
    border:none;
    padding:1em;
    margin-right:1em;

}

.f-arrow{
    position:absolute;
    left:50%;
    margin-top:0;
    rotate:90deg;
    transform:scaleX(55%);
    cursor:pointer;
    padding:0.25em;
    top:-0.3em;
}

.f-arrow:hover{
    
}

.tools{
    position:absolute;
    right:0;
    top:0;
    background-color:#cadbdb;
    width:20%;
    height:100%;
}